.vertical-align {
    display: flex;
    flex-direction: row;
}
.vertical-align>[class^="col-"], .vertical-align>[class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 991px) {
    .col-pad {
        margin-bottom: 6px;
    }
}

body {
    background: linear-gradient(#fef400, #e77817) fixed;
}
.page-header {
    /* no line below header */
    border-bottom: none;
}

.slider .slider-selection {
    background: #286090;
}
.slider {
    width: 100% !important;
}
.tooltip {
    /* don't show over modal */
    z-index: auto;
}

.btn-default:focus {
    background-color: #ffffff;
}
.btn-default:hover {
    background-color: #ffffff;
}
#volume-mute-button.active {
    background-color: #bd362f;
    color: white;
    opacity: 0.7;
}

.sound-mode-label {
    padding: 0 1em;
    font-weight: normal;
    cursor: pointer;
}
.sound-mode-label.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.sound-mode-label input[type="radio"] {
    display: none;
}
.sound-mode-label input[type="radio"]+span {
    /* custom radio button */
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
}
.sound-mode-label input[type='radio']:disabled+span {
    opacity: 0.7;
    cursor: not-allowed;
}
.sound-mode-label input[type="radio"]:checked+span {
    background-color: green;
}
