@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-toggle/css/bootstrap-toggle.css';
@import '~bootstrap-slider/dist/css/bootstrap-slider.css';
@import '~toastr/build/toastr.css';

.vertical-align {
    display: flex;
    flex-direction: row;
}
.vertical-align>[class^="col-"], .vertical-align>[class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 991px) {
    .col-pad {
        margin-bottom: 6px;
    }
}

body {
    background: linear-gradient(#fef400, #e77817);
}
.page-header {
    /* no line below header */
    border-bottom: none;
}

.slider .slider-selection {
    background: #286090;
}
.slider {
    width: 100% !important;
}
.tooltip {
    /* don't show over modal */
    z-index: auto;
}

.btn-default:focus {
    background-color: #ffffff;
}
.btn-default:hover {
    background-color: #ffffff;
}

.btn-positive.active, .btn-positive.active:hover, .btn-positive.active.focus {
    background-color: rgb(68, 157, 68);
    color: white;
}

.btn-negative.active, .btn-negative.active:hover, .btn-negative.active.focus  {
    background-color: rgb(201, 48, 44);
    color: white;
}

#volume-mute-button.active {
    background-color: #bd362f;
    color: white;
    opacity: 0.7;
}

.sound-mode-label {
    padding: 0 35px;
    font-weight: normal;
    cursor: pointer;
    font-size: 20px;
}
.sound-mode-label.disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.sound-mode-label input[type="radio"] {
    display: none;
}
.sound-mode-label input[type="radio"]+span {
    /* custom radio button */
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
}
.sound-mode-label input[type='radio']:disabled+span {
    opacity: 0.7;
    cursor: not-allowed;
}
.sound-mode-label input[type="radio"]:checked+span {
    background-color: green;
}

.dialog {
    padding-top:15%;
    overflow-y:visible;
}
.dialog .dialog-message {
    margin:0;
}
.dialog .progress {
    margin-bottom:0;
}
.dialog .progress-bar {
   width: 100%;
}
@media (min-width: 768px) {
   .dialog button {
      float: right;
   }
}
