.slider .slider-selection {
	background: #286090;
}

.slider {
  margin-left: 24px;
  margin-right: 24px;
}

body {
    min-width: 450px;
    width: auto !important;
    width: 450px;
}

@media (min-width: 768px) {
  .container {
       padding-right: 100px;
       padding-left: 100px;
       margin-right: auto;
       margin-left: auto;
  }
}
