<!DOCTYPE html>
<html lang="de">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>SchunterKino Fernbedienung</h1>
    </div>

    <!-- playback controls -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Projektor</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="panel-body btn-group" role="group" aria-label="...">
            <button id="play-button" type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-play"></span>
            </button>
            <button id="pause-button" type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-pause"></span>
            </button>
            <button id="stop-button" type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-stop"></span>
            </button>
          </div>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-volume-down hidden-xs" aria-hidden="true"></span>
          <input data-slider-id="volume-slider" type="text" name="Lautstärke" data-provide="slider" data-slider-min="0.0" data-slider-max="7.0" data-slider-step="0.1" data-slider-value="0">
          <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
        </li>
      </ul>
    </div>

    <!-- lights -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Licht</h3>
      </div>
      <div class="panel-body btn-group" role="group" aria-label="...">
        <button id="light-button-0" type="button" class="btn btn-default">Aus</button>
        <button id="light-button-33" type="button" class="btn btn-default">33%</button>
        <button id="light-button-66" type="button" class="btn btn-default">66%</button>
        <button id="light-button-100" type="button" class="btn btn-default">100%</button>
      </div>
    </div>

    <!-- curtain -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Vorhang</h3>
      </div>
      <div class="panel-body">
        <input id="curtain-switch" data-toggle="toggle" data-on="Auf" data-off="Zu" type="checkbox" disabled>
      </div>
    </div>
  </div>
</body>

</html>
