<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Sample App</title>
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>SchunterKino Fernbedienung</h1>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Projektor</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <input id="play_pause" data-toggle="toggle" data-on="<i class='fa fa-play'></i> Play" data-off="<i class='fa fa-pause'></i> Pause" type="checkbox">
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span>
          <input data-slider-id="volume" type="text" name="Lautstärke" data-provide="slider" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0">
          <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Licht</h3>
      </div>
      <div class="panel-body btn-group" role="group" aria-label="...">
        <button id="light_0" type="button" class="btn btn-default">Aus</button>
        <button id="light_25" type="button" class="btn btn-default">25%</button>
        <button id="light_50" type="button" class="btn btn-default">50%</button>
        <button id="light_75" type="button" class="btn btn-default">75%</button>
        <button id="light_100" type="button" class="btn btn-default">100%</button>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Vorhang</h3>
      </div>
      <div class="panel-body">
        <input id="curtain" data-toggle="toggle" data-on="Auf" data-off="Zu" type="checkbox" disabled>
      </div>
    </div>
  </div>
</body>

</html>
